[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "assets/glTF-Sample-Models"]
	path = assets/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Guo-Haowei/glad.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git